<p id="notice"><%= notice %></p>

<h1>Tipo Productos</h1>

<table>
  <thead>
    <tr>
      <th>Tipoprodnombre</th>
      <th>Tipoproddesc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_productos.each do |tipo_producto| %>
      <tr>
        <td><%= tipo_producto.tipoProdNombre %></td>
        <td><%= tipo_producto.tipoProdDesc %></td>
        <td><%= link_to 'Show', tipo_producto %></td>
        <td><%= link_to 'Edit', edit_tipo_producto_path(tipo_producto) %></td>
        <td><%= link_to 'Destroy', tipo_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo Producto', new_tipo_producto_path %>
